body{
	background: #f2f2f2;
}

.container{
	padding: 30px 200px;
}

#textogerado{
	width: 100%;
	padding: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#botaogerartexto{
	padding: 10px 15px;
	background: #0099ff;
	color: #fff;
	border-radius: 3px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
}

#botaogerartexto:hover{
	background: #008ae6;
}

#botaogerartexto:active{
	background: #0099ff;
}

.input-dados{
	box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid #0099ff;
    border-radius: 3px;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;
}

.texto-descricao{
	margin-bottom: 10px;
	font-size: 18px;
}

h1{
	font-weight: bold;
	margin-bottom: 50px;
	color: #008ae6;
	font-size: 40px;
}